<h2>Sign up</h2>

<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= semantic_form_for @user do |form| %>
  <%= render :partial => "/users/inputs", :locals => { :form => form } %>
  <%= form.buttons do %>
    <%= form.commit_button "Sign up" %>
  <% end %>
<% end %>

