<!DOCTYPE html>
<html>
<head>
  <title>QuizzLy</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%unless signed_in?%>
    <%=link_to "Sign in", sign_in_path%>
  <%else%>
    <%=link_to "Sign out", sign_out_path, :method=>:delete%>
  <%end%>
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
<%= yield %>

</body>
</html>
